{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/searchbook.css' %}" />
    <title>Search Book</title>
{% endblock head %}

{% block content %}
    <div class="SearchBook">
        <div class="d-flex justify-content-center">
            <h1 class="judulSearchBook">
                <b name="judul">Search Book</b>
            </h1>
        </div>
        <div class="SearchBook2">
            <input type="text" id="textField" name="searchbar" placeholder="Search for books.." title="Type in a name">
        </div>
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr class="table text-center">
                        <th scope="col" style="color: beige">No</th>
                        <th scope="col" style="color: beige">Cover</th>
                        <th scope="col" style="color: beige">Title</th>
                        <th scope="col" style="color: beige">Authors</th>
                        <th scope="col" style="color: beige">Publisher</th>
                        <th scope="col" style="color: beige">Published Date</th>
                    </tr>
                </thead>
                <tbody id="hasilSearch" style="color: beige;"></tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/searchbook.js' %}"></script>
{% endblock content %}
