.container {
  padding-top: 20px;
}

.jumbotron {
  background-size: cover;
}

#accordion{
    height: 20px;
    width: 400px;
}

.btn.btn-default.up.glyphicon.glyphicon-chevron-down{
  background-color: white;
  border-radius: 50px;
}

.btn.btn-default.up.glyphicon.glyphicon-chevron-up{
  background-color:white;
  border-radius: 50px;
}