{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'accordion.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <title>The Next Journey</title>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="boxcolor col-md-4">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="d-block w-100" img src="{% static 'AERP5946.jpg' %}" alt="First slide">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>A few memories of me</h3>
                        <p>A moment lasts all of a second, but the memory lives on forever.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" img src="{% static 'IMG_2034.JPG' %}" alt="Second slide">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>a few memories of me</h3>
                        <p>A moment lasts all of a second, but the memory lives on forever.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" img src="{% static 'IMG_5154 (2).JPG' %}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h3>a few memories of me</h3>
                          <p>A moment lasts all of a second, but the memory lives on forever.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" img src="{% static 'IMG_1739.jpg' %}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h3>a few memories of me</h3>
                          <p>A moment lasts all of a second, but the memory lives on forever.</p>
                        </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            
    </div>

<div class="col-md-8">
    <div class="container">
        <div class="panel-group" id="accordion" >
            <div class="panel panel-info satu" style="margin-bottom:-8px;">
                <div class="panel-heading">
                    <span class = "pull-right">
                        <div class="accordion-buttons col-2 d-flex justify-content-flex">
                          <div class="button-up">
                              <button type="button" id="button-up" data-parent=#accordion class="btn btn-default up glyphicon glyphicon-chevron-up"></button>
                          </div>
                          <div class="button-down">
                              <button type="button" id="button-down" data-parent=#accordion class="btn btn-default up glyphicon glyphicon-chevron-down"></button>
                          </div>
                        </div>
                      </span>
                  <h4 class="panel-title">
                      <button class="btn btn-link collapsed" type="button" data-parent=#accordion data-toggle="collapse"
                      data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                      <strong> MY ACTIVITY </strong>
                    </button>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    Sleep and Kuliah
                  </div>
                </div>
              </div>
              <div class="panel panel-success dua" style="margin-bottom:-8px;">
                  <div class="panel-heading">
                      <span class = "pull-right">
                          <div class="accordion-buttons col-2 d-flex justify-content-flex" >
                              <div class="button-up">
                                  <button type="button" id="button-up" data-parent=#accordion class="btn btn-default glyphicon glyphicon-chevron-up" style="border-radius: 50px;"></button>
                              </div>
                              <div class="button-down">
                                  <button type="button" id="button-down" data-parent=#accordion class="btn btn-default glyphicon glyphicon-chevron-down" style="border-radius: 50px;"></button>
                              </div>
                            </div>
                        </span>
                    <h4 class="panel-title">
                        <button class="btn btn-link collapsed" type="button" data-parent=#accordion data-toggle="collapse"
                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse3">
                        <strong> MY EXPERIENCE </strong>
                      </button>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            Staff Media Partner Compfest and Staff Acara BETIS 2020.
                        </ul>
                    </div>
                  </div>
                </div>
          <div class="panel panel-warning tiga" style="margin-bottom:-8px;">
            <div class="panel-heading">
                <span class = "pull-right">
                    <div class="accordion-buttons col-2 d-flex justify-content-flex">
                        <div class="button-up">
                            <button type="button" id="button-up" data-parent=#accordion class="btn btn-default up glyphicon glyphicon-chevron-up"></button>
                        </div>
                        <div class="button-down">
                            <button type="button" id="button-down" data-parent=#accordion class="btn btn-default up glyphicon glyphicon-chevron-down"></button>
                        </div>
                      </div>
                  </span>
              <h4 class="panel-title">
                  <button class="btn btn-link collapsed" type="button" data-parent=#accordion data-toggle="collapse"
                  data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  <strong> MY HOBBY </strong>
                </button>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                  <ul>
                      Watching movie or drama and read a novels.
                  </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-danger empat" >
            <div class="panel-heading">
                <span class = "pull-right">
                    <div class="accordion-buttons col-2 d-flex justify-content-flex">
                        <div class="button-up">
                            <button type="button" data-parent=#accordion class="btn btn-default up glyphicon glyphicon-chevron-up"></button>
                        </div>
                        <div class="button-down">
                            <button type="button" data-parent=#accordion class="btn btn-default up glyphicon glyphicon-chevron-down"></button>
                        </div>
                      </div>
                  </span>
              <h4 class="panel-title">
                  <button class="btn btn-link collapsed" type="button" data-parent=#accordion data-toggle="collapse"
                  data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  <strong> MY FAVORITE MOVIE </strong>
                </button>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                  <ul>
                      Sherlock Holmes, Harry Potter, and Mission Impossible
                    </ul>
              </div>
            </div>
          </div> 
        </div>
</div>
    


<script src="{% static 'accordion.js' %}"></script>
{% endblock content %}
